@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
body {
	background-color: orange;
	font-family:Ubuntu,sans-serif;
}
.content {
	font-weight:300;
	font-size:1.4rem;
	line-height:1.3;
}
.title {
	color:red;
}

